*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(./imgs/bg\ imgg.jpg);
    background-size: cover;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }
.card{
    width: 90%;
    max-width: 470px;
    color: #faf7f7;
    margin: 100px auto 0;
    border-radius: 20px;
    padding :40px 35px;
    text-align: center;
    backdrop-filter: blur(15px);
    background: rgba(255, 255,255, 0.2);
    
}
.card:hover{
border: 1px solid #fa97f7;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 10px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc; 
    border-radius: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
font-size: 80px;
font-weight: 500;

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
display: flex;
align-items:center ;
justify-content: space-between;
padding: 0 20px;
margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
